<ion-view title="Arduino Call!">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-refresh" ng-click="refresh(this)"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-toggle ng-repeat="item in settingsList | filter:'dig_'"
                    ng-model="item.checked"
                    ng-checked="item.checked"
                    ng-change="pushDigitalChange(item)">
            {{ item.resource_name }}
        </ion-toggle>
        <ion-item ng-repeat="item in settingsList | filter:'pwm_' ">
            <div class="list">
                <div class="item range range-positive">
                    <i>{{ item.resource_name }}</i>
                    <i class="icon ion-ios7-sunny-outline"></i>
                    <input ng-delay="1000" ng-change="pushPwmChange(item)" class="pull-right" id="{{item.resource_name}}" type="range" min="0" max="255" step="5" ng-model="item.state"/>
                    <i class="icon ion-ios7-sunny"></i>
                </div>
            </div>
        </ion-item>
        <ion-item ng-repeat="item in settingsList | filter:'an_' ">
            {{ item.resource_name }} state: {{ item.state }}
        </ion-item>

    </ion-content>
</ion-view>